body {
  background: #bfbfbf;
  font-style: italic;
}
.App {
  text-align: center;
  padding: 0 50px 0 50px;
}
.Form {
  color: red;
  display: flex;
  justify-content: space-between;
}
.formitem {
  border-radius: 5px;
  font-size: 30px;
  font-style: italic;
  width: 35%;
  text-transform: capitalize;
}
.formbtn {
  background: #6bff6b;
  border-color: #00ff00;
  border-radius: 5px;
  font-size: 30px;
  width: 15%;
}
.newdiv {
  border-radius: 5px;
  background: #fff;
  font-size: 30px;
}
.newdiv span {
  padding: 0 20px;
}
.deletebtn {
  background: #f93e3e;
  border-color: red;
  border-radius: 5px;
  font-size: 30px;
  margin: 5px;
}
